header {
  text-align: start;
  display: block;
  background: lightgray;
  border-radius: 0em;
  align-items: center;
  max-height: 150px;
}

header h1 {
  font-size: 2em;
  text-align: center;
  color: white;
}

.header-title span {
  color: lightslategray;
}

.header-title a {
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  padding-left: 2.5em;
}

nav li {
  padding: 0.5em;
}

nav a {
  color: white;
  background-color: lightgray;
  border-radius: 0.5em;
  padding: 1em;
}

nav a:hover {
  background-color: lightslategray;
}

nav a:visited {
  color: white;
}

nav ul:last-child {
  padding-right: 2.5em;
}

@media (min-width: 750px) {
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  header h1 {
    margin-left: 1em;
    text-align: start;
  }

  nav ul {
    justify-content: flex-end;
  }

  nav ul:last-child {
    padding-right: 0;
  }
}
