.posts-list-item {
  margin-bottom: 1em;
  border-bottom: 1px solid lightgrey;
}

.posts-list-item:last-child {
  border-bottom: none;
}

.posts-list-item a {
  text-decoration: none;
}

.posts-list-item-card {
  display: flex;
  color: lightslategray;
  padding: 1em 0em;
}

.posts-list-item-image {
  width: 40%;
  cursor: pointer;
}

.posts-list-item-image img {
  object-fit: cover;
  max-height: 15rem;
  margin: 0 auto;
}

.posts-list-item-content {
  width: 50%;
  padding-left: 1.2rem;
}

.posts-list-item-card h4 {
  margin-top: 0;
  color: blue;
  cursor: pointer;
}

.posts-list-item-card h4:visited,
.posts-list-item-card h4:active {
  color: blueviolet;
}

.posts-list-item-card span {
  font-size: 0.8rem;
  color: blue;
  cursor: pointer;
}

.posts-list-item-card span:visited,
.posts-list-item-card span:active {
  color: blueviolet;
}
